extends layout

link(rel="stylesheet" href="style.css")

block content
  h2 Entrez un article
  form(method="post" action="/articles")
  
    label(for="titre") titre :
    p
      input(type="text" name="titre" id="titre")
      
    label(for="keyword") mot-clef :
    p
      input(type="text" name="keyword" id="keyword")
    
    label(for="chapo") chapô : 
    p
      input(type="text" name="chapo" id="chapo")
        
    label(for="contenu") contenu :
    p
      textarea(name="contenu" id="contenu")  
      
    p
      button(type="submit") envoyer

  hr  

  h2 Liste des articles
  each article, index in articles
    article.article
      h3.titre= "no." + index + " : " + article.titre
      h4.motclef= "mot-clef :" + article.keyword
      h5.chapo= "chapo :" + article.chapo 
      p.contenu= article.contenu
      hr
      a(href="/articles/"+article.id+"/edit") éditer
      form(style="display:none" method="post" id="deleteme"+article.id action="/articles/"+article.id+"/delete")
      button(onclick="var d = document.querySelector('#deleteme"+article.id+"');d.submit();") supprimer
