head
  link(rel='stylesheet', href='../stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  h2 Modifiez l'image
  form(method="post" action="/reference/image/"+Images.id+"/edit" enctype="multipart/form-data")
  
    label(for="file") Titre :
    p
      input(type="file" name="file" id="file")
      
    label(for=description) Description :
    p
      textarea(name="desctiption" id="description")= images.contenu  
      
    p
      button(type="submit") Envoyer
