extends layout

block content
  h2 Modifiez l'article #{article.titre}
  form(method="post" action="/articles/"+article.id+"/edit")
  
    label(for="titre") titre :
    p
      input(type="text" name="titre" id="titre" value=article.titre)
      
    label(for="keyword") mot-clef :
    p
      input(type="text" name="keyword" id="keyword" value=article.keyword)
      
    label(for="contenu") contenu :
    p
      textarea(name="contenu" id="contenu")= article.contenu  
      
    p
      button(type="submit") envoyer
