head  
  extends layout
  title Page d'accueil

block content
    h1.bleu Page d'accueil
    div
      h2.center
        a(href="/cms/nouvelle" class="grand bleu") Créer une nouvelle référence
      h2.center
        a(href="/cartographie/accueil" class="grand bleu") Voir la cartographie
