head  
  extends layout
  title Page d'accueil

block content
    div.accueil
      h2.center
        a(href="/cartographie/accueil" class="grand bleu") Voir la cartographie
      h2.center
        a(href="/cms/liste" class="grand bleu") Modifier la cartographie
