head  
  extends layout
  title Page d'accueil

block content
  h1 Page d'accueil
  p
    a(href="/cms/nouvelle" class="petit noir") Créer une nouvelle référence
  p
    a(href="/cartographie/accueil" class="petit noir") Voir la cartographie
