include ../mixin/sacflash

head 
  title Inscription
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

body.accueil
  block content
    h1.titreCarto Inscription
    +sacflash()
    div
      form(method="post" action="/users/nouvel_utilisateur")
        label(for="nom") Nom :
          p
            input(type="text" name="nom" id="nom")
        label(for="email") Email :
          p
            input(type="email" name="email" id="email")
        label(for="password") Mot de passe : 
          p
            input(type="password" name="password" id="password")
        label(for="password") Confirmer le mot de passe : 
          p
            input(type="password" name="password_verify" id="password_verify")
        p
          button(type="submit" class="petit bleu") Créer un compte
    div
      a(href="/users/connexion") Retour à la page de connexion