/* I - Général */
/* II - Liste des références */
/* III - Ajouter une nouvelle référence */
/* IV - Une référence */
/* V - Editer une référence */


/* I - Général ***************************************************************************************************************
*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #FFE7E7;
}

h2 {
  font-size: 20px;
}

/*Boutons et faux boutons*/
.petit {
  background-color:  #FFE7E7;
  display: inline-block;
  margin: 0 .25em;
  padding: 0 .25em;
  border: 1px solid;
  border-radius: 3px;
  text-decoration: none;
  line-height: 1.2;
}

.noir {
  color: black;
  background: none;
}

.theme {
  color: black
  display: inline-block;
  margin: 10px;
  margin-bottom: 10px;
  padding:10px;
  border: 3px solid;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.2;
}
.darkBlue {
  background-color: #FFE7E7;
  color: #0A0344;
}

.rouge {
  color: #FFE7E7;
  background-color: #FF2400;
}

.bleu {
  color: #FFE7E7;
  background-color: #94AEFF;
}

.jaune {
  color: #FFE7E7;
  background-color: #EFD76F;
}

.saumon {
  color: #FFE7E7;
  background-color: #FFA68A;
}

.mauve {
  color: #FFE7E7;
  background-color: #B558E0;
}

.vert {
  color: #FFE7E7;
  background-color: #26BCB5;
}

button:hover {
  background-color: grey;
}

.noir:hover {
  background-color: grey;
}

.darkBlue:hover {
  background-color: #0A0344;
  color: #FFE7E7;
}
.rouge:hover {
  background-color: #FFE7E7;
  color: #FF2400;
}

.vert:hover {
  background-color: #FFE7E7;
  color: #26BCB5;
}

.mauve:hover {
  background-color: #FFE7E7;
  color: #B558E0;
}

.jaune:hover {
  background-color: #FFE7E7;
  color: #EFD76F;
}

.saumon:hover {
  background-color: #FFE7E7;
  color: #FFA68A;
}

.bleu:hover {
  background-color: #FFE7E7;
  color: #94AEFF;
}

.mauve:hover {
  background-color: #FFE7E7;
  color: #B558E0;
}

.previsu {
  width: 600px;
}
pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 10px;
}
.article {
  margin: 2em 0;
  width: 500px;
}

.image {
  margin: 2em 0;
  width: 500px;
}

.grille {
  display: flex;
}

.grille > * {
  flex: 0 0 25%;
  padding: 8px;
}

/* II - Liste des références */
/* Accueil cartographie */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
}
/* III - Ajouter une nouvelle référence */
img {
  max-width: 40%;
  height:auto;
}
.spaceAround {
  display: flex;
  justify-content: flex-start;
}

.lignes {
  display: flex;
  justify-content: flex-start;
}

.blocAjout {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.blocAjoutTheme {
  border-radius: 5px;
  padding: 10px;
  border-color: lightgrey;
  margin: 10px;
  width: 500px;
}

.blocTheme {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  margin-left: 10px;
}
