/* 0 - Général */
/* 1 - Accueil */

/* CMS */
/* I - Liste des références */
/* II - Nouvelle référence */
/* III - Associer thème/référence */
/* IV - Editer une référence */

/* CARTOGRAPHIE */
/* A - Liste des références */
/* B - Liste des thèmes */
/* C - Une référence */


/* 0 - Général ***************************************************************************************************************
*/
body {
  margin: 7em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #FFE7E7;
  box-sizing: border-box;
}

h1 {
  margin: 0px;
  margin-left: 2em;
  font-size: 25px;
}

h2 {
  font-size: 20px;
  color: blue;
}

hr {
  color:blue;
}

nav {
  display: flex;
  position: fixed;
  padding: 1em;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: blue;
  align-content: center;
  justify-content: space-between;
}

.titrePrincipal {
  justify-content: flex-start;
  color: #FFE7E7;
}

.liens {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
}

.liens a {
  font-size: 20px;
  margin-left: 2em;
}

.hide {
  display: none;
}

.listeThemes {
  flex-wrap: wrap;
}

/*Boutons et faux boutons*/
.petit {
  display: inline-block;
  margin: 0 .25em;
  padding: 0 .25em;
  border: 1px solid;
  border-radius: 3px;
  text-decoration: none;
  line-height: 1.2;
}

.navigation {
  color : #FFE7E7;
  font-size: 16px;
  text-decoration: none;
}

.grand {
  display: inline-block;
  margin: 0 .25em;
  padding: 0 .5em;
  border: 3px solid;
  border-radius: 3px;
  line-height: 1.2;
  text-decoration: none;
}

.grand a {
  text-decoration: none;
  text-decoration-style: none;
}

.noir {
  color: black;
  background: none;
}

.bleu {
  color: blue;
}

.bleu:hover {
  background-color: rgba(0,0,255,0.5);
}

.theme {
  display: inline-block;
  margin: 10px;
  margin-bottom: 10px;
  padding:10px;
  border: 3px solid;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.2;
}

.darkBlue {
  color: #0A0344;
}

.rouge {
  color: #FFE7E7;
  background-color: #FF2400;
}

.bleuPastel {
  color: #FFE7E7;
  background-color: #94AEFF;
}

.jaune {
  color: #FFE7E7;
  background-color: #EFD76F;
}

.saumon {
  color: #FFE7E7;
  background-color: #FFA68A;
}

.mauve {
  color: #FFE7E7;
  background-color: #B558E0;
}

.vert {
  color: #FFE7E7;
  background-color: #26BCB5;
}

button:hover {
  background-color: grey;
}

.noir:hover {
  background-color: grey;
}

.navigation:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.theme:hover {
  border: 3.5px solid;
}

.darkBlue:hover {
  background-color: #0A0344;
  color: #FFE7E7;
}
.rouge:hover {
  background-color: #FFE7E7;
  color: #FF2400;
}

.vert:hover {
  background-color: #FFE7E7;
  color: #26BCB5;
}

.mauve:hover {
  background-color: #FFE7E7;
  color: #B558E0;
}

.jaune:hover {
  background-color: #FFE7E7;
  color: #EFD76F;
}

.saumon:hover {
  background-color: #FFE7E7;
  color: #FFA68A;
}

.bleuPastel:hover {
  background-color: #FFE7E7;
  color: #94AEFF;
}

.mauve:hover {
  background-color: #FFE7E7;
  color: #B558E0;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

/* 1 - Accueil ***************************************************************************************************************
*/

.accueil {
  position: fixed;
  left: 15%; top: 15%;
}

/* II - Liste des références ..............................................................................................*/
/* Accueil cartographie */

.titreCarto {
  font-size: 40px;
  color:blue;
  margin-left: 0px;
  margin-bottom: 1em;
}

.titrePara {
  margin: 0px;
}


/* III - Ajouter une nouvelle référence */
img {
  max-width: 40%;
  height:auto;
}

.center {
  display: flex;
  justify-content: center;
}

.lignes {
  display: flex;
  justify-content: flex-start;
}

.bloc {
  border: 3px solid blue;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 5em;
}

.tagbox {
  text-align: center;
  padding: 20px;
}

.nouveauTheme {
  width: 500px;
}

.blocTheme {
  margin: 0.5em;
}

.blocReference {
  padding: 2em;
  max-width: 500px;
  box-sizing: border-box;
}

.blocReference a {
  margin-top: 1em;
}

.blocReference .titre {
  width: 250px;
}

.flash {
  border-radius: 2px;
  border: 1px solid black;
  padding: 1em;
  margin:1em;
}

.flash-ok {
  color: green;
  border-color: green;
}
