extends ../layout
include ../mixin/tagbox
include ../mixin/nouveauTheme
include ../mixin/sacflash

head  
  title Editer un article
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  body.cms
    +sacflash()
    h2 #{article.titre}  
    section.blocAjout
      h3 Modifier la référence
      form(method="post" action="/cms/article/"+article.id+"/edit")
        label(for="titre") Titre :
        p
          input(type="text" name="titre" id="titre" value=article.titre)
        label(for="contenu") Contenu :
        p
          textarea(rows="20" cols="150" name="contenu" id="contenu")= article.contenu
          aside Note: Utiliser Markdown pour le formatage
        p
          button(type="submit" class="petit noir") Envoyer
    div.themes
      +tagbox(themes, article, 'article')
    nav  
      a(href="" onclick="history.back();" class="navigation") Retour &nbsp 
