head
  extends ../layout
  title Editer un Thème
  link(rel='stylesheet', href='../stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  body.cms
    h2 Modifier le thème 
    h3 #{theme.nom}
    section.blocAjout
      form(method="post" action="/cms/theme/"+theme.id+"/edit")
        label(for="nom") Nom :
        p
          input(type="text" name="nom" id="nom" value=theme.nom)
        p
          button(type="submit" class="petit noir") Envoyer
    nav
      a(href="" onclick="history.back();" class="navigation") Retour &nbsp 
        
        
  
