head
  extends ../layout
  title Editer un Thème
  link(rel='stylesheet', href='../stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  body.cms
    nav
      div.titrePrincipal  
        h1 Editer #{theme.titre}
      div.liens
        a(href="" onclick="history.back();" class="navigation") Retour
    h2 Modifier le thème 
    h3 #{theme.nom}
    section.blocAjout
      form(method="post" action="/cms/theme/"+theme.id+"/edit")
        label(for="nom") Nom :
        p
          input(type="text" name="nom" id="nom" value=theme.nom)
        label(for="description") Description :
          p
            textarea(rows="3" cols="40" id="description" name="description")= theme.description
        p
          button(type="submit" class="grand bleu") Envoyer
        
        
  
