head
  title Nouvelle référence
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

body.cms
  block content
    nav
      div.titrePrincipal
        h1 Nouvelle référence
      div.liens
        a(href="../" class="navigation") Accueil 
        a(href="../cartographie/accueil" class="navigation") Cartographie 
        a(href="/cms/liste" class="navigation") Liste des références
    div.center
      h3
        a(onclick="document.getElementById('nouvelArticle').classList.remove('hide');document.getElementById('nouvelleVideo').classList.add('hide');document.getElementById('nouvelleImage').classList.add('hide');" class="grand bleu") article
        a(onclick="document.getElementById('nouvelleImage').classList.remove('hide');document.getElementById('nouvelArticle').classList.add('hide');document.getElementById('nouvelleVideo').classList.add('hide');" class="grand bleu") image
        a(onclick="document.getElementById('nouvelleVideo').classList.remove('hide');document.getElementById('nouvelArticle').classList.add('hide');document.getElementById('nouvelleImage').classList.add('hide');" class="grand bleu") vidéo
    section.center
        div(class="bloc ajoutReference" id="nouvelArticle")
              h2 Article
              form(method="post" class="article" action="/cms/nouvel_article")
                label(for="titre") Titre :
                  p
                    input(type="text" name="titre" id="titre")
                label(for="contenu") Contenu :
                  p
                    textarea(rows="15" cols="150" name="contenu" id="contenu")
                    aside Note: Utiliser Markdown pour le formatage  
                h3
                  button(type="submit" class="grand bleu") nouvel article
                  // button(type="submit" onclick="window.open('#{article.id}/theme_article')" class="petit noir") nouvel article
        div(class="bloc ajoutReference hide" id="nouvelleImage")
              h2 Image  
              form(method="post" class="image" action="/cms/nouvelle_image"  enctype="multipart/form-data")   
                label(for="titre") Titre :
                  p 
                    input(type="text" name="titre" id="titre")
                label(for="file") Image : 
                  p
                    input(type="file" name="file" id="file")    
                label(for="description") Description :
                  p
                    textarea(rows="10" cols="150" name="description" id="description") 
                    aside Note: Markdown fonctionne !
                h3
                  button(type="submit" class="grand bleu") nouvelle image
                //button(type="submit" onclick="window.open('#{image.id}/theme_image')" class="petit noir") Nouvelle image            
        div(class="bloc ajoutReference hide" id="nouvelleVideo")
              h2 Vidéo  
              form(method="post" class="video" action="/cms/nouvelle_video")   
                label(for="titre") Titre :
                  p 
                    input(type="text" name="titre" id="titre")
                label(for="lien") Lien de la vidéo : 
                  p
                    input(type="text" name="lien" id="lien")    
                label(for="description") Description :
                  p
                    textarea(rows="10" cols="150" name="description" id="description")
                    aside Note: Markdown fonctionne !  
                h3
                  button(type="submit" class="grand bleu") nouvelle vidéo
                  
              //-  button(type="submit" onclick="window.open('#{video.id}/theme_video')"class="petit noir") nouvelle vidéo
    
