head 
  title Cartographie des références
  link(rel='stylesheet', href='../stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

body(class="accueil")
  block content
    h1 Cartographie des références

    div(class="center")
      p 
        a(href="/cartographie/references" class="petit") Voir la liste des références
      p  
        a(href="/cartographie/uneReference" class="petit") Référence aléatoire 
        p (ne marche pas)
      p  
        a(href="/cms/nouvelle" class="petit") Ajouter / éditer des références
  
