h1 Cartographie des références

h2 salut salut

p 
  a(href="/references") Voir la liste des références
  a(href="/uneReference") Référence aléatoire \(lien mort)
  a(href="../cms/") Ajouter / éditer des références \(aucune idée de comment écire ce lien)
  
