head 
  title Cartographie des références
  link(rel='stylesheet', href='../stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

body(class="accueil")
  block content
    h1 Cartographie des références
    
    div(class="accueilCarto")
      h2  
          a(href="/cartographie/aleatoire" class="grand bleu") Référence aléatoire
      a(href="/cartographie/references" class="petit bleu") Liste des références
      a(href="/cartographie/themes" class="petit bleu") Liste des thèmes
      a(href="/cms/nouvelle" class="petit bleu") Ajouter / éditer des références
  
