head
  title Parcours
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  nav
    div.titrePrincipal
      h1 Toutes les références vues
    div.liens
      a(href="/" class="navigation") Accueil 
      a(href="/cartographie/aleatoire" class="navigation") lien aléatoire
      a(href="/cartographie/themes" class="navigation") tout les thèmes
  section.center
    ol
      each References in references
        li.listeParcours
          article.referencesParcours
            a( href=References.classe+"/"+References.id class='flex')
              div
                img(src=References.path class='listeImagesC')
              div
                  h3 !{References.titre}
                  h4= References.auteur
                