head 
  title Toutes les références
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  nav
    div.titrePrincipal
      h1 Toutes les références
    div.liens
      a(href="/" class="navigation") Accueil 
      a(href="/cartographie/aleatoire" class="navigation") lien aléatoire
      a(href="/cartographie/themes" class="navigation") tout les thèmes
  section.colonnes
    each References, index in references
        article.listeReferences
          a(href=References.classe+"/"+References.id)
            img(src=References.path class='listeImagesC')
            h3 !{References.titre}
