head 
  title Tous les thèmes
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  nav
    div.titrePrincipal
      h1 Tous les thèmes
    div.liens
      a(href="/" class="navigation") Accueil 
      a(href="/cartographie/aleatoire" class="navigation") Lien aléatoire
      a(href="/cartographie/references" class="navigation") Toutes les références
  
  section.listeThemes
    each Themes in themes
        span
          a.themes.petit(href="/cartographie/theme/#{Themes.id}" class="#{Themes.couleur} theme" style="background: #{Themes.couleur}") #{ Themes.nom }
