head
  title.titre= image.description
  link(rel='stylesheet', href='../stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

block content
  h2.titre= image.id +"-"+ image.description

  figure
    img(scr=image.path)
    figcaption= image.description
  a(href="/cms/image/"+image.id+"/edit" class="petit") éditer

  p
    a(href="/cartographie/references" class="petit") revenir à la liste
  p
    a(href="/reference/:id" class="petit") lien aléatoire en fonction de thème \(ce lien ne fonctionne pas)
