head
  title.titre= image.description
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')

include ../listeThemes

block content
  h1.titre= image.id +"-"+ image.description
  a(href="/cartographie/references" class="petit noir") Toutes les références
  a(href="/cartographie/aleatoire" class="petit noir") Référence aléatoire
  figure
    img(src=image.path)
    figcaption= image.description
  section.themes
    +listeThemes(image, 'image')
  p
    a(href="/cms/image/"+image.id+"/edit" class="petit noir") éditer
    
